* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

}

html {
    font-size: 16px;
    font-family: Courier New, monospace;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


header {
    text-transform: uppercase;
    width: 100%;
    height: 3em;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: space-around;

}

a {
    color: #090909;
    text-decoration: none;
    margin-right: 1rem;
}

.perfil {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 0.2rem 0 0.2rem 1rem;
}

.nomePerfil {

    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nomePerfil::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #f5e58c;
    transition: width 0.3s ease;
}

.nomePerfil:hover {
    color: #dec430;
}

.nomePerfil:hover::after {
    width: 100%;
}


.perfil:hover::after {
    width: calc(100% - 1rem);
    /* desconta o padding esquerdo */
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    height: 100%;

}

.nav-header {
    position: relative;
    display: inline-block;
    padding: 5px;
    text-align: center;
    height: 30px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    /* gruda no texto */
    width: 0%;
    height: 2px;
    background-color: #f5e58c;
    /* cor do sublinhado */
    transition: width 0.5s ease;
}

.nav-header:hover {

    color: #dec430;

}

.nav-header:hover::after {
    width: 100%;
}

.trilho {
    width: 2.6em;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px;
    display: block;
    align-items: center;
    box-shadow: 0 0 0.1em rgb(56, 96, 190);
    transition: background 0.6s ease;
}

.botao-Trilho {
    margin: 1px;
    width: 1em;
    height: 1em;
    background-color: #2c2222;
    border-radius: 150%;
    transition: transform 0.6s ease, background 0.3s ease;

}


.logoPerfil {
    border-radius: 50%;
    width: 2.1em;
    height: 2.1em;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.perfil {
    cursor: pointer;
    display: flex;
    align-items: center;

}

.nomePerfil {
    margin-top: 0.3em;
    margin-left: 1em;
}

.imgPerfil:hover {
    box-shadow: 1px 1px 10px 1px rgb(250, 250, 250);
}

.imgPerfil img {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    max-width: 90%;

}



.polaroid {
    background-color: rgb(253, 253, 253);
    width: 18em;
    height: 20em;
    margin-right: 3%;
    display: flex;
    align-items: top;
    justify-content: center;

}

.apresentacao {
    display: flex;
    justify-content: space-between;

    background-color: rgb(234, 232, 232);

}

.box-foto-Perfil {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.sobre-mim {
    height: 100%;
    width: 65%;
    margin-right: 2%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

h1 {
    font-size: 2em;
    margin: 0.5em;
    margin-top: 1em;
    text-transform: uppercase;
}

h2 {
    color: #d3b50c;
    margin-top: 0.2em;
    font-size: 1.8em;
    text-transform: uppercase;

}

h3 {
    margin: 0.5em;
    margin-top: 1em;
    color: #090909;
    font-size: 1.5em;
    text-transform: uppercase;

}



.descricaoSobreMim {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin: 20px 30px 10px 30px;

}

.container {
    display: flex;
    position: relative;
    align-items: end;

}

.bnt-saibaMais {
    text-align: center;
    border-radius: 10px;
    height: 2.5em;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 0em;
    box-shadow: 2px 2px 2px 2px #616160f9;
}

.bnt-saibaMais:hover {
    cursor: pointer;
    box-shadow: 2px 1px 1px 1px #858582f9;

}

header {
    display: flex;
}

.tecnologias {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}


.tituloTec {
    font-size: 4rem;
    position: absolute;
    margin: -1rem 0px 0px 0px;
    align-items: center;
    background-color: transparent;
}

.img-logo {

    width: 7rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 1rem;
    background-color: rgba(118, 118, 118, 0.574);
    border-radius: 1em;
    margin: 1em;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 8px 10px #888888;
    height: auto;
    width: 100%;

}

.cards .card {
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(255, 253, 253);
    margin: 10%;
    height: 35rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 8px 10px #888888;
    text-align: center;
    perspective: 1000px;

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
    position: relative;
}

.card-front,
.card-back {

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;

}

.card:hover {

    box-shadow: 1px 2px 8px 4px #85c2f49d;
}

.card-front {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(255, 253, 253);
    color: black;
}

.card-back {
    background-color: rgba(227, 218, 218, 0.528);
    transform: rotateY(180deg);
    font-size: 2.5rem;
    align-items: center;
    text-align: justify;
    font-family: Garamond (serif);
    color: #0b0b0b;
    padding: 20px;

}

.card h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9em;
}

/* seção sem info ainda  */



/* seção de projetos  */

/* 
box-cards-projetos
    tituloProjetos
    container-cards
        carousel-container
            meusProjetos
            card-projeto
                tecnologias-usadas
                    tech-badge
                titulo-card
                descricao-card
                botoes-card
                    btn-card
*/

/* &#8593; SETA PRA CIMA */
.box-cards-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #8091d4;
    color: #fff;
}

.tituloProjetos {
    font-size: 4rem;
    text-decoration: underline;
    color: #0b0773;
}

.container-cards {
    /* Area do carrossel */
    position: relative;
    height: auto;
    background-color: #8091d4;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    /* Area de visualizacao */
    height: 40em;
    width: 90%;
    background-color: #8091d4;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.meusProjetos {
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
}

.meusProjetos::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari e Opera */
}

.card-projeto {
    border-radius: 10px;
    margin: 1rem;
    padding: 10px;
    height: 35rem;
    width: 25rem;
    background-color: rgba(0, 0, 0, 0.845);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(245, 247, 249);
    border-radius: 30px
}

.card-projeto:hover {
    transform: scale(1.05);
    background-color: rgba(86, 198, 235, 0.845);
    box-shadow: 1px 1px 1px 1px #5ce4e8;
    border: none;
    border-radius: 30px
}

.tecnologias-usadas {
    display: flex;
}

.img-card {
    width: 30rem;
    height: 15rem;
    border: 3px solid #fefefe;
    border-radius: 20px
}

.tech-badge {
    cursor: pointer;
    color: #fdffff;
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: #0b7793;
    width: auto;
    padding: 16px;
    height: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

.tech-badge:hover {
    color: #9ad4dd;
    background-color: rgb(3, 12, 113);
}

.titulo-card {
    text-align: center;
    color: #544ef9;
    font-size: 2rem;
}

.descricao-card {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.5rem
}

.botoes-card {
    width: 100%;
    justify-content: space-between;
    position: relative;
    display: flex;

}

.btn-card {
    position: absolute;
    height: 3rem;
    width: 3rem;
    margin: 10px;
    padding: 10px;
    background-color: #eff0f6;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    border: 1px double rgb(35, 193, 255);
}

.img-seta {
    left: 0px;
    bottom: 0px;
}

.img-git {
    bottom: 0px;
    right: 0px;
}

.img-button {
    border-radius: 50%;
}

.btn-card:hover {
    transform: scale(1.5px);
    box-shadow: 1px 1px 1px 1px #1da8cf;
    background-color: #0b7793;
    border-color: #0e679b;
    transform: scale(1.05);
}

/* Bolinhas */
.bolinhas {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bolinha {
    width: 12px;
    height: 12px;
    background-color: #5d665b;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bolinha.ativa {
    background-color: #fff;
}


/* Setas */
.seta {
    position: absolute;
    top: 50%;
    background: rgba(54, 80, 109, 0.703);
    color: #f8f8f9;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 1;
}

.seta.esquerda {
    left: 10px;
    border-radius: 50%;
    text-align: center;
}

.seta.direita {
    right: 10px;
    border-radius: 50%;
    text-align: center;
}

.seta.esquerda:hover,
.seta.direita:hover {
    color: #9ad4dd;
    background-color: rgb(3, 12, 113);
}


.redes-socias {
    background-color: rgb(62, 66, 67);
    width: 100%;
    height: 5rem;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .polaroid {
        background-color: transparent;

    }

    .polaroid img {
        border-radius: 50%;
        border: solid rgb(255, 253, 245);
    }

    .polaroid:hover {
        /* Tirando o hover da image maior */
        box-shadow: 0px 0px 0px 0px transparent;
    }

    .nav-bar {
        display: none;
    }

    .trilho {
        display: none;
    }

    .perfil {
        position: absolute;
        left: 5%
    }

    .apresentacao {
        flex-direction: column;
    }

    .sobre-mim {
        width: 100%;
        margin: 10%;
        padding: 0px 00px 20px 0px;
    }

    .box-foto-Perfil,
    .sobre-mim {
        width: 100%;
        margin: 0px;
    }

    .tituloTec {
        font-size: 3rem;
    }

    .box-cards-projetos {
        max-width: 100%;
        height: 100%;
    }

    .tituloProjetos {
        font-size: 2.5rem;
        margin: 1rem;
    }

    .container-cards {
        max-width: 100%;
        height: 100%;
    }

    .carousel-container {
        min-width: 100%;
    }

    .meusProjetos {
        min-width: 100%;
        height: 100%;
    }
}


@media (max-width: 1300px) {
    .img-logo {
        position: absolute;
        left: 1px;
        width: 5rem;
    }

    .cards {
        border-radius: 0px;
        background-color: #373b3b;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 8% 0% 5% 0%;
        padding: 4% 0% 4% 0%;
        box-shadow: 0px 0px 0px 0px transparent;
        height: auto;
        gap: 0;
    }

    .cards .card {
        margin: 1px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px transparent;
        padding: 5% 5% 7% 5%;
        border-radius: 10px;
        height: auto;
        width: 90%;
        perspective: none;
        border: solid rgb(149, 150, 93);
    }

    .card:hover .card-inner {
        transform: none;
    }

    .card-inner {
        flex-direction: column;
        height: auto;
        transition: color 0.3s ease;
    }

    .card-front {
        position: relative;
        transform: none;
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        padding: 5rem;
    }

    .card-back {
        color: #000;
        text-transform: uppercase;
        font-size: 1.6rem;
        display: none;
        background-color: rgb(210, 209, 212);
        position: relative;
        transform: none;
        width: 100%;
        align-items: center;
        text-align: center;
        height: auto;
        min-height: 300px;

    }

    .toggle-arrow {
        position: absolute;
        right: 5px;
        bottom: -10px;
        margin: 0;
        color: rgb(172, 231, 242);
        background: none;
        border: none;
        font-size: 3rem;
        cursor: pointer;
    }


    .seta.esquerda,
    .seta.direita,
    .bolinha {
        display: none
    }

    .carousel-container {
        margin: 5rem;
        align-items: center;
    }

    .card-projeto {
        margin: 5rem;
    }
}