* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     max-width: 100%;

}

html {
    font-size: 16px;
    font-family: Courier New, monospace;
    scroll-behavior: smooth;  
}
body{
    overflow-x: hidden;
}


header {
     text-transform: uppercase;
    width: 100%;
    height: 3em;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: space-around;

}

a {
    color: #090909;
    text-decoration: none;
    margin-right: 1rem;
}

.perfil {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.2rem 0 0.2rem 1rem;
}

.nomePerfil {
    
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nomePerfil::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color:  #f5e58c;
  transition: width 0.3s ease;
}

.nomePerfil:hover {
  color: #dec430;
}

.nomePerfil:hover::after {
  width: 100%;
}


.perfil:hover::after {
  width: calc(100% - 1rem); /* desconta o padding esquerdo */
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    height: 100%;

}
.nav-header {
  position: relative;
  display: inline-block;
  padding: 5px;
  text-align: center;
  height: 30px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; /* gruda no texto */
  width: 0%;
  height: 2px;
  background-color: #f5e58c; /* cor do sublinhado */
  transition: width 0.5s ease;
}

.nav-header:hover {
 
  color:  #dec430;
 
}

.nav-header:hover::after {
  width: 100%;
}

.trilho {
    width: 2.6em;

    height: auto;
    background-color: aliceblue;
    border-radius: 10px;
    display: block;
    align-items: center;
    box-shadow: 0 0 0.1em rgb(56, 96, 190);
    transition: background 0.6s ease;
}

.botao-Trilho {
    margin: 1px;
    width: 1em;
    height: 1em;
    background-color: #2c2222;
    border-radius: 150%;
    transition: transform 0.6s ease, background 0.3s ease;

}


.logoPerfil {
    border-radius: 50%;
    width: 2.1em;
    height: 2.1em;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.perfil {
    cursor: pointer;
    display: flex;
    align-items: center;

}

.nomePerfil {
    margin-top: 0.3em;
    margin-left: 1em;
}

.imgPerfil:hover {
    box-shadow: 1px 1px 10px 1px rgb(250, 250, 250);
}

.imgPerfil img {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    max-width: 90%;

}



.polaroid {
    background-color: rgb(253, 253, 253);
    width: 18em;
    height: 20em;
    margin-right: 3%;
    display: flex;
    align-items: top;
    justify-content: center;

}

.apresentacao {
    display: flex;
    justify-content: space-between;
  background-color: rgb(234, 232, 232);

}

.box-foto-Perfil {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.sobre-mim {
    height: 100%;
    width: 65%;
    margin-right: 2%;
   
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin: 0.5em;
    margin-top: 1em;
     text-transform: uppercase;
}

h2 {
    color:#d3b50c;
    margin-top: 0.2em;
    font-size: 1.8em;
     text-transform: uppercase;

}

h3 {
    margin: 0.5em;
    margin-top: 1em;
    color: #090909;
    font-size: 1.5em;
     text-transform: uppercase;

}



.descricaoSobreMim {
    
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin: 20px 30px 10px 30px;

}

.container {
    display: flex;
    position: relative;
    align-items: end;

}

.bnt-saibaMais {
    text-align: center;
    border-radius: 10px;
    height: 2.5em;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 0em;
    box-shadow: 2px 2px 2px 2px #616160f9;
}

.bnt-saibaMais:hover {
    cursor: pointer;
    box-shadow: 2px 1px 1px 1px #858582f9;

}

Header {
    display: flex;
}

.tecnologias {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}


.tituloTec {
    font-size: 4rem;
    position: absolute;
    margin: -1rem 0px  0px 0px;
    align-items: center;
    background-color: transparent;
}
.img-logo{
    width:10rem;
   width:10rem;
}
.cards {
    font-size: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    background-color: rgba(118, 118, 118, 0.574);
    border-radius: 1em;
    margin: 1em;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 8px 10px #888888;
    height: 40em;
    width: 100%;

}

.cards .card {
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(255, 253, 253);
    margin:10%;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 8px 10px #888888;
    text-align: center;
    perspective: 1000px;

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
    position: relative;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}

.card:hover {

     box-shadow: 1px 2px 8px 4px #85c2f49d;
}

.card-front {
    background-color: rgb(255, 253, 253);
    color: black;
}

.card-back {
    background-color: rgba(227, 218, 218, 0.528);
    transform: rotateY(180deg);
    font-size: 0.9em;
    text-align: justify;
    font-family: Garamond (serif);
    color: #0b0b0b;
    padding: 20px;
}

.card h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9em;
}


.text-saibaMais {
    height: 400px;
    background-color: #aaa;
}

.box-cards-projetos {
    height: 70rem;
    width: 100%;
    background-color: rgb(222, 222, 222);
    margin: 0px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
        

}


.meusProjetos {
    align-items: center;
    background-color: rgba(254, 242, 242, 0.933);
    height: 50rem;
    display: flex;
    border-radius: 2rem;
    justify-content: space-around;

    align-items: center;

}

.tituloProjetos {
    text-align: center;
    font-size: 4rem;
}

.card-projeto {
    background-color: rgba(208, 242, 255, 0.845);
    color: aliceblue;
    margin: 0px 10em 0px 10em;
    width: 50em;
    height: 40rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 10px 8px 9px 10px #e1dada;
    perspective: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.6s;
    color: #090909;
}


.card-projeto img {
    width: 330px;
    height: 300px;
    cursor: pointer;
    border-radius: 2rem;
}



.card-projeto:hover {
    background-color: rgba(86, 198, 235, 0.845);
    transform: scale(1.1);
 
}

.tecnologias-usadas {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.tech-badge {
    cursor: pointer;
    padding: 4px 16px;
    width: fit-content;
    border-radius: 50px;
    color: rgb(240, 240, 240);
    background-color: rgb(72, 106, 99);
}

.tech-badge:hover {
    background-color: #9c926b;
    color: #090909;
}

.titulo-card {

    font-size: 2rem;
    color: #9c8218af;

}




.container-cards {
    display: flex;
    transition: transform 0.5s ease;
}





.seta {
    position: absolute;
    top: 10em;
    transform: translateY(-50%);
    background: #ffffffcc;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 4;
}

.seta.esquerda {
    left: 10px;
}

.seta.direita {
    right: 10px;
}



.redes-socias {
    background-color: rgb(62, 66, 67);
    width: 100%;
    height: 5rem;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container-cards {
    display: flex;
    gap: 1rem;
    transition: transform 0.5s ease-in-out;
    overflow-x: auto;
    scroll-behavior: smooth;
}



/* Setas */
.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 1;
}

.seta.esquerda {
    left: 10px;
    border-radius: 50%;
    text-align: center;
}

.seta.direita {
    right: 10px;
    border-radius: 50%;
    text-align: center;
}

.seta.esquerda:hover,
.seta.direita:hover {
    color: #5ec4e3;
    background-color: rgb(6, 6, 96);
}

/* 
Bolinhas .bolinhas {
    text-align: center;
    margin-top: 1rem;
} */

/* .bolinha {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.bolinha.ativa {
    background: #333;
} */


@media (max-width: 768px) {
    .polaroid{
      background-color: transparent;
    }
    .polaroid img{
         border-radius: 50%;
         border: solid rgb(236, 214, 149);
    }
    
    .nav-bar{
        display: none;
    }
    .trilho{
        display: none;
    }
    .perfil{
        position: absolute;
        left: 5%
    }

  .apresentacao {
    flex-direction: column;
  }
  .sobre-mim{
    width: 100%;
    margin: 10%;
    padding: 0px 00px 20px 0px;
  }

  .box-foto-Perfil, .sobre-mim {
    width: 100%;
    margin: 0;
  }
  .tituloTec{
    font-size: 3rem;
  }
.cards{
   width: 100%;;
}
.card {
    display: flex;
    height: auto;
    perspective: none;
    cursor: pointer;
  }

  .card-inner {

    height: auto;
  }

  .card-front, .card-back {
    position: static;
    transform: none;
    display: flex;
    flex-direction: row-reverse;
    backface-visibility: visible;
    font-size: 3rem;
  }

  .card-back {
    display: none;
  }

  .card.active .card-back {
    display: block;
    margin-top: 0.5rem;
  }

}
